<div class="displayBox">
    <h3>Candidates</h3>
    <ul>
        <li [class.selected]="crew.includes(member)" (click)="addCrewMember(member)" *ngFor="let member of candidates">{{member.name}}</li>
    </ul>
</div>
<hr>
<div class="displayBox">
    <h3>Crew <span [class.hideCrew]="crew.length !== 3"> Full</span></h3>
    <ol>
        <li (mouseover)="modSelectedAstronaut(astronaut)" (mouseout)="modSelectedAstronaut(astronaut)" *ngFor="let astronaut of crew">{{astronaut.name}}</li>
    </ol>
    <!-- Add an img tag here to display astronaut photos. -->
    <img *ngIf="astronautSelected" [src]="selectedAstronaut.photo">
</div>
